* {
    box-sizing: border-box;
  }



.board {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70vh;
    height:70vh;
    margin: auto;
    background-color: yellow;
    border: 5px solid rgb(108, 129, 0);
    border-radius: 10%;
  }
  
.column{
  /* background-color: yellow; */
  /* border-radius: 55%; */
  height: 100%;
  width:13%;
  margin: 0.6%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  }

  .sqr{
    border-radius: 100%;
    background-color:black;
    height:14.5%;
    scale: 1/1;
    margin:1.5%;
    border: 5px solid rgb(108, 129, 0);

  }

  h1 , h2{
    display: flex;
    justify-content: center;
  }

  button{
    color: white;
    display: flex;
    justify-content: center;
    background-color: red;
    border: 5px solid white;
    align-items: center;
    height:2.5rem ;
    width: 5rem;
    border-radius: 35%;
    cursor: pointer;
  }
  button:hover {
    background-color: #942222; /* Darker shade on hover */
  }

  button:active {
    
    background-color: #560101; /* Even darker shade on click */
  }

  #undo{
    background-color: blue;
  }
  #undo:hover {
    background-color: #001087; /* Darker shade on hover */
  }

  #undo:active {
    
    background-color: #000738; /* Even darker shade on click */
  }

  .container {
    display: flex;
    justify-content: center;
    
}